$blue: #036bfc;

.header {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 400px){
    justify-content: center;
  }

}

.navigation {
  margin: .5rem 1rem;

  &__link {
    margin-right: 1rem;

    &:last-child {
      @media (max-width: 400px){
        margin-right: 0;
      }
    }

    &--active {
      color: $blue;
      font-weight: 700;
    }
  }
}
