<header class="header">
  <nav class="navigation">
    <a
      class="navigation__link"
      [routerLink]="'auth'"
      [routerLinkActive]="'navigation__link--active'"
    >
      Auth
    </a>

    <a
      class="navigation__link"
      [routerLink]="'about'"
      [routerLinkActive]="'navigation__link--active'"
    >
      About
    </a>

    <a
      class="navigation__link"
      [routerLink]="'resizing'"
      [routerLinkActive]="'navigation__link--active'"
    >
      Resizing
    </a>

  </nav>
</header>


