<section class="about-page">

  <div class="user-info">

    <h2 class="user-info__title">About user</h2>

    <p class="user-info__description">
      <strong>Username: </strong>
      <span>{{ username }}</span>
    </p>

    <p class="user-info__description">
      <strong>First name: </strong>
      <span>{{ firstName }}</span>
    </p>

    <p class="user-info__description">
      <strong>Last name: </strong>
      <span>{{ lastName }}</span>
    </p>
  </div>

</section>

<p class="message-error"></p>
